<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form class="row g-3" action="/setUserName" method="POST">
        <div class="col-12">
            <label for="user" class="form-label">Nombre</label>
            <input type="text" name="user" class="form-control" id="user" placeholder="Tu nombre...">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
        </div>
    </form>
</body>

</html>